/*
 *  Easing Slider Dev
 *  @version 2.0
 *
 *  Slideshow CSS. Advised you don't make changes to this. Instead, add styling changing to your theme's style.css file.
 *
 *  Why do we use a lot of '!important' declarations here?
 *  Because we need to make sure any theme CSS doesn't destroy the slideshow functionality. Simple as that.
 *
 *  Some information:
 *      The slideshow container is set to 'display: none;' via inline CSS to prevent the 'flash' of images before the CSS file is conditionally loaded in the footer.
 *      This CSS file then sets the container to 'display: block !important', to make sure it overrides the inline CSS.
 *      It works, because the CSS is loaded after the slideshow is printed.
 */

/* ===== Core structural CSS. Don't edit this! ===== */
.easingsliderlite,
.easingsliderlite-viewport,
.easingsliderlite-slides-container,
.easingsliderlite-slide,
.easingsliderlite-image,
.easingsliderlite-preload {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
    line-height: 0px !important;
    outline: none !important;
}

.easingsliderlite {
    position: relative !important;
}

.easingsliderlite-preload {
    background: url(../images/loading.gif) no-repeat center center #fff !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 50 !important;
}

.easingsliderlite-arrows.has-hover {
    opacity: 0;
}

.easingsliderlite:hover .easingsliderlite-arrows.has-hover {
    opacity: 1;
}

.easingsliderlite-pagination.has-hover {
    opacity: 0;
}

.easingsliderlite:hover .easingsliderlite-pagination.has-hover {
    opacity: 1;
}

.easingsliderlite-viewport {
    position: relative !important;
    overflow: hidden !important;
}

.easingsliderlite-slides-container {
    overflow: hidden !important;
    position: absolute !important;
    top: 0px;
    left: 0px;
    display: block !important;
}

.easingsliderlite.use-css3 .easingsliderlite-slides-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.easingsliderlite.use-slide.use-css3 .easingsliderlite-slides-container {
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}

.easingsliderlite.use-fade.use-css3 .easingsliderlite-slides-container {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.easingsliderlite.use-slide .easingsliderlite-slide {
    float: left !important;
    position: relative !important;
}

.easingsliderlite.use-fade .easingsliderlite-slide {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.easingsliderlite.use-fade .easingsliderlite-slide.active {
    z-index: 10;
}

.easingsliderlite-slide {
    width: 100%;
}

.easingsliderlite-slide > a {
    display: block !important;
}

.easingsliderlite-image {
    width: 100% !important;
    max-width: 100% !important;
    display: block !important;
}

.easingsliderlite-slide-content {
    position: absolute !important;
    top: 0;
    left: 0;
}

.easingsliderlite-slide-content .caption.left {
    top: 0px !important;
    left: 0px !important;
}

.easingsliderlite-slide-content .caption.right {
    top: 0px !important;
    right: 0px !important;
}

.easingsliderlite-slide-content .caption.top {
    top: 0px !important;
    left: 0px !important;
}

.easingsliderlite-slide-content .caption.bottom {
    bottom: 0px !important;
    left: 0px !important;
}

/* ===== Anything below here can be edited. Have fun! ===== */
.easingsliderlite-arrows {
    position: absolute;
    top: 46%;
    width: 30px;
    height: 30px;
    background-image: url(../images/slideshow_arrows.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 30;
    cursor: pointer;
    opacity: 0; /* Slideshow will set to this 1 when it has loaded */
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.easingsliderlite-next.inside {
    right: 10px;
    background-position: 0px -29px;
}

.easingsliderlite-next.outside {
    right: -40px;
    padding-left: 20px; /* Prevents fade when moving mouse from slideshow to outside navigation */
    background-position: 20px -29px;
}

.easingsliderlite-prev.inside {
    left: 10px;
}

.easingsliderlite-prev.outside {
    left: -40px;
    padding-right: 20px; /* Prevents fade when moving mouse from slideshow to outside navigation */
}

.easingsliderlite-pagination {
    position: absolute;
    z-index: 30;
    opacity: 0; /** Slideshow will set to this 1 when it has loaded */
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.easingsliderlite-pagination.inside.bottom-left {
    bottom: 10px;
    left: 10px;
}

.easingsliderlite-pagination.inside.bottom-right {
    bottom: 10px;
    right: 10px;
}

.easingsliderlite-pagination.inside.bottom-center {
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.easingsliderlite-pagination.inside.top-left {
    top: 10px;
    left: 10px;
}

.easingsliderlite-pagination.inside.top-right {
    top: 10px;
    right: 10px;
}

.easingsliderlite-pagination.inside.top-center {
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.easingsliderlite-pagination.outside.bottom-left {
    bottom: -25px;
    left: 0px;
    padding-top: 20px; /* Prevents fade when moving mouse from slideshow to outside navigation */
}

.easingsliderlite-pagination.outside.bottom-right {
    bottom: -25px;
    right: 0px;
    padding-top: 20px;
}

.easingsliderlite-pagination.outside.bottom-center {
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.easingsliderlite-pagination.outside.top-left {
    top: -25px;
    left: 0px;
    padding-bottom: 20px;
}

.easingsliderlite-pagination.outside.top-right {
    top: -25px;
    right: 0px;
    padding-bottom: 20px;
}

.easingsliderlite-pagination.outside.top-center {
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.easingsliderlite-icon {
    width: 14px;
    height: 14px;
    background-image: url(../images/slideshow_icons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    z-index: 30;
    cursor: pointer;
}

.easingsliderlite-icon:last-child {
    margin-right: 0px;
}

.easingsliderlite-icon.active {
    background-position: 0px -14px;
}

.easingsliderlite-slide-content .caption {
    background-color: #000; /** Fallback for rgba unsupported browsers */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    margin: 20px;
}

.active .easingsliderlite-slide-content .caption {
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}